

  .header{
    display: flex;
    align-items: center;
   gap: 10px;
  }
  .header img{
    margin: auto;
  }
  .logoicon{
    margin-left: 40%;
  }

  @media screen and (max-width:600px) {
    .logoicon{
        margin-left: 20%;
      }
    
    
  }
  .carousel{
    text-align: center;
  }
  .carousel p{
    text-align: justify;
  }